body{
	
}

nav {
	float:top;
	float: right;
	margin-bottom:55px;
}

h1{
	background: #4aaaa5;
	color:white;
}


header {
	height:115px;
	padding: 20px;
	margin-bottom: 20px;
	color:#333;
	}

#right {
    padding: 20px;
	margin-bottom: 20px;
	color:green;
	background:black;
	width:33%;
    float:right;
}

#left{
	padding: 20px;
	margin-bottom: 20px;
	color:white;
	background:#666;
	width:33%;
    float: left;
}

#n_box {
	color:blue;
	background: yellow;
	float: left;
	width: 40%;
	height:50%;
	margin-left: 30px;
	padding-left: 15px;
	text-align:left;
}

#icon_box{
    color:blue;
	background:yellow;
	float: right;
	width: 10%;
	height:25%;
	margin-left: 30px;
	padding-left: 15px;
}

#image{
	float left;
	margin-left: 20px;
}