body{
	background-color:purple;

}

nav {
	float: right;
}

header {
	padding: 20px;
	margin-bottom: 20px;
	color:#333;
  background:yellow;
}


footer{
} /* End footer */


.jumbotron {
	background-color: #428bca
}

.jumbotron h1 {
	color:white;
}


p, h1, h4 {
	font-family: 'Roboto Slab', serif;
	color-
}
