body{
  width: 960px;
  background-image: url("./assets/images/sg400px.png");
}

 a,a:visited{
     color:#777777;
     text-decoration:none;
     font-weight: bold;
}

a:hover{
	color:#ADFF2F;
	font-weight: bold
}	

h1,h2,h3{
	color:#4aaaa5;
	font-weight: bold;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

hr {
	color:grey;
}

#hdr{
	background:white;
	width: 100%;
	height: 80px;
	border-bottom: 3px #CCCCCC solid;
}

#name_box { 
	font-size:38px; 	 
	padding : 15px 15px 5px 20px;
	background:#4aaaa5;
	float:left;
	color:white;
	margin-left:20px; 
	height:60px; 
}

#nav_menu{
	float:right;
	color:gray;
	padding: 28px 15px 05px 1px;
	font-size:18px;
	font-family: "Arial";
}

#nav_menu a:hover{
	color:#ADFF2F;
	font-weight: bold
}	

#nav_menu a,a:visited{
     color:#777777;
     text-decoration:none;
     font-weight: bold;
}

#nav_menu a:active{
	color:#FF0000;
	font-weight: bold
}	

 #bio_text {
	color:#777777;
	background: white;
	float: left;
	margin-top: 45px;
	max-width: 630px;
	margin-left:20px;
	text-align: justify;
}

#bio_text h1 {
	font-size: 22px;
	font-weight: bold;
	font-family: 'Georgia';
}
 
#icon_box{
	background:white;
	float: right;
	width: 255px;
	height:150px;
	padding: 0px 0px 15px 15px;
	margin-top: 45px;
}

#ftr {
	background:#666666;
	color:#ffffff;
	height: 150px;
	width: 960px;
	position: absolute;
	bottom:0px;
	border-top: 8px #4aaaa5 solid;
	text-align: center;
	padding-top: 15PX;

	}





